.skill-card {
  text-align: left;
  padding: 20px;
  border: 1px solid var(--border-color); /* Usa variável */
  border-radius: 10px;
  background-color: var(--card-bg); /* Usa variável */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  height: 100%;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.skill-icon {
  font-size: 28px;
  color: var(--text-color);
}

.skill-card h4 {
  font-weight: 800;
  font-size: 16px;
  margin: 0;
  color: var(--text-color);
}

.skill-card p {
  color: var(--gray-color); /* Alterado */
  font-size: 10px;
  font-weight: 300;
  line-height: 1.5;
}