.hero-section {
  min-height: 75dvh;
  /* melhor em mobile com barras dinâmicas */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;
  flex-direction: column;
}

.hero-title {
  font-family: var(--font-display);
  /* <-- VOLTOU PARA DotGothic16 */
  font-size: clamp(28px, 8vw, 45px);
  font-weight: 400;
  /* Peso padrão do DotGothic16 */
  line-height: 1.2;
}

.hero-title span {
  color: var(--accent-color);
  transition: color 0.3s ease;
}