.custom-cursor {
  /* Propriedades de cor e transição foram REMOVIDAS daqui */
  
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  
  /* Definimos a borda aqui para que o Framer saiba o que animar */
  border-width: 2px;
  border-style: solid;
}

body {
  cursor: none;
}