.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    border-radius: 50%;

    border: 2px solid var(--text-color);
    background: transparent;

    will-change: transform, width, height, border-color;
}

/* Lógica para dispositivos touch/sem mouse */
@media (hover: none),
(pointer: coarse) {
    .custom-cursor {
        display: none;
    }
}

/* Lógica para dispositivos COM mouse (Desktop) */
@media (hover: hover) and (pointer: fine) {

    /* Esconde o cursor padrão do sistema em TUDO para usar apenas o customizado */
    html,
    body,
    a,
    button,
    input,
    textarea,
    [role="button"],
    * {
        cursor: none !important;
    }
}